<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {%- if page.title -%}
          <h1 class="page-title">{{ page.title | escape }}</h1>
        {%- endif -%}

        {%- if page.description -%}
          <p class="page-description"><em>{{ page.description | escape }}</em></p>
        {%- endif -%}
        
        {%- if page.author -%}
          <p class="post-author">Authored by: <em>{{ page.author }}</em></p>
        {%- endif -%}

        {% include layout/post_meta_block.html html=content %}
        
        {{ content }}

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
